/* tables */table.tablesorter {	font-size: 9pt;	width:940px;	text-align: center;	border-right:1px solid #c6d5e1;	border-top:1px solid #c6d5e1;	border-bottom:none;	margin-left:auto;	margin-right:auto;}table.tablesorter thead tr th {	background-image: url(images/header-bg.gif);	background-repeat: repeat;	text-align:left; 	color:#cfdce7;	border:1px solid #fff;	border-right:none;}table.tablesorter thead tr h3 {	font-size:11px;	padding:6px 6px 4px 8px;	line-height: 13px;	font-weight: bold;	margin-top: 1px;}table.tablesorter thead tr h3.pwm {    width:30px;}table.tablesorter thead tr h3.mySort {	background: url(images/sort.gif) 7px center no-repeat;	padding-left:18px;	cursor: pointer;}table.tablesorter tbody td {	color: black;	padding:4px 2px 4px 2px;		border-bottom:1px solid #c6d5e1;	border-left:1px solid #c6d5e1;}table.tablesorter tbody td.regex {	width:150px;}table.tablesorter tbody td.logo {    width:190px;	float: none;
	margin: 0px 0px 0px 0px;
}table.tablesorter tbody td.logo img {	float: none;	margin: -3px 0px -3px 0px;	height:35px;}table.tablesorter tbody td.pwm img {	float: none;	margin: 0px 0px 0px 0px;    width:25px;    height:25px;}table.tablesorter thead tr .headerSortDown , table.tablesorter thead tr .headerSortUp {	background-image: url(images/header-selected-bg.gif);	background-repeat: repeat;}table.tablesorter thead tr .headerSortUp h3.mySort {	background: url(images/asc.gif) 7px center;	background-repeat: no-repeat;	padding-left:18px;	cursor: pointer;}table.tablesorter thead tr .headerSortDown h3.mySort {	background: url(images/desc.gif) 7px center;	background-repeat: no-repeat;	padding-left:18px;	cursor: pointer;}.NormRow { background-color: #fff; }.AltRow  { background-color: #ecf2f6; }
#controls {width:980px; margin:0 auto; height:20px}
#perpage {float:left; width:200px}
#perpage select {float:left; font-size:11px}
#perpage span {float:left; margin:2px 0 0 5px}
#navigation {float:left; width:580px; text-align:center}
#navigation img {cursor:pointer}
#text {float:left; width:200px; text-align:right; margin-top:2px}

p { 
	color: #666; 
	font-size: 16px; 
	font-weight: normal; 
	text-align: justify;
	margin-top: 8px;
}

h4 { 
	color: #BF0000;
	font-size: 16px;
	font-style: normal;
	text-align: left;
	font-weight: lighter;
	clear: both;
	margin-top: 4px;
}
