last_motifs_tested.txt
main
main.o
test.log
/best_motifs.txt
/motifs_last_loop.txt
/*.DS_Store
/tmp/1*
/tmp/2*
/tmp/3*
/tmp/4*
/tmp/5*
/tmp/6*
/tmp/7*
/tmp/8*
/tmp/9*
Ref_NegRand.txt
Ref_PosRand.txt
/Ref_NegShuf.txt
/Ref_PosShuf.txt
/log.txt
